snippet log
IO.puts "==================="
IO.inspect ${0:${VISUAL}}
IO.puts "==================="
endsnippet

snippet vlog
a = ${0:${VISUAL}}
IO.puts "==================="
IO.inspect a
IO.puts "==================="
a
endsnippet

snippet ins
IO.inspect ${0:${VISUAL}}
endsnippet

snippet %
%{${1:}: $1, $0}
endsnippet

snippet ,,
${1:}: $1, $0
endsnippet

snippet >
|> $0
endsnippet

snippet dup
${0:${VISUAL}}

$1${0:${VISUAL}}
endsnippet
